@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


:root {
    --main-color-4F5665: #4F5665;
    --main-color-0B132A: #0B132A; /*цвет*/
    --main-color-F53838: #F53838;
    --main-color-ffffff: #ffffff;
    --main-color-AFB5C0: #AFB5C0;
  }

    .Body {
    font-family: 'Rubik', sans-serif; /*шрифт*/
    }

    .Rubik_500 { 
    font-weight: 500; /*размеры букв*/
   } 

    .Rubik_400 { 
    font-weight: 400; /*размеры букв*/
   } 

   .blink {
    text-decoration: blink; /*убрать подчеркивание*/
  }

.ButtonsInTheHeader {
	font-style: normal; /*стиль*/
	font-weight: normal; /*жирность */
	font-size: 16px; /*размер текста*/
	line-height: 19px; /*интервал */
	text-align: center;  /* center left right    auto    Выровнять текст*/
	color: var(--main-color-4F5665); /*цвет*/

	max-height: 150px;
	max-width: 50px;
	min-height: 20px;
	min-width: 20px;
	position: -webkit-sticky;
	top: 20px;
	padding: 20px;
	box-sizing: border-box;

}
.SectionHeading {
 font-style: normal; /*стиль*/
 font-weight: 500; /*жирность */
 font-size: 35px; /*размер текста*/
 line-height: 50px; /*интервал */
 text-align: center;  /* center left right    auto    Выровнять текст*/
 color: var(--main-color-0B132A); /*цвет*/
}

.TextUnderTheHeading {
 font-style: normal; /*стиль*/
 font-weight: normal; /*жирность */
 font-size: 16px; /*размер текста*/
 line-height: 30px; /*интервал */
 text-align: center;  /* center left right    auto    Выровнять текст*/
 color: var(--main-color-4F5665); /*цвет*/
}

.QualityFigures {
  font-style: normal; /*стиль*/
  font-weight: bold; /*жирность */
  font-size: 25px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-0B132A); /*цвет*/
}
.QualityText {
  font-style: normal; /*стиль*/
  font-weight: normal; /*жирность */
  font-size: 20px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-4F5665); /*цвет*/
}
.ServiceFunctions {
  font-style: normal; /*стиль*/
  font-weight: normal; /*жирность */
  font-size: 14px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-4F5665); /*цвет*/
}

.PrizeName {
  font-style: normal; /*стиль*/
  font-weight: 500; /*жирность */
  font-size: 18px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-0B132A); /*цвет*/
}
.GiftButtonName {
  font-style: normal; /*стиль*/
  font-weight: 500; /*жирность */
  font-size: 25px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-0B132A); /*цвет*/
}
.name {
  font-style: normal; /*стиль*/
  font-weight: 500; /*жирность */
  font-size: 18px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-0B132A); /*цвет*/
}
.place {
  font-style: normal; /*стиль*/
  font-weight: normal; /*жирность */
  font-size: 14px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-4F5665); /*цвет*/
}
.grade {
  font-style: normal; /*стиль*/
  font-weight: normal; /*жирность */
  font-size: 16px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-0B132A); /*цвет*/
}

.LaslesVPN_is {
  font-style: normal; /*стиль*/
  font-weight: normal; /*жирность */
  font-size: 16px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-4F5665); /*цвет*/
}
.mail {
  font-style: normal; /*стиль*/
  font-weight: 500; /*жирность */
  font-size: 16px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-AFB5C0); /*цвет*/
}
.floor {
  font-style: normal; /*стиль*/
  font-weight: normal; /*жирность */
  font-size: 16px; /*размер текста*/
  line-height: 30px; /*интервал */
  text-align: center;  /* center left right    auto    Выровнять текст*/
  color: var(--main-color-4F5665); /*цвет*/
  }



/* Действие */


.Sign_In {
  background-color: var(--main-color-ffffff); /*цвет кнопки*/
  text-decoration: none; /*убрать подчеркивания ссылки*/
  border: solid var(--main-color-ffffff);   /*рамку с цветом*/
  border-radius: 30px;  /*радиус скругления*/
  color:  var(--main-color-F53838); 
}

.Sign_Up_White {
  background-color: var(--main-color-ffffff); 
  text-decoration: none; 
  border: solid var(--main-color-F53838);   
  border-radius: 30px;  
  color:  var(--main-color-F53838); 
}

.ButtonRed {
  background-color: var(--main-color-F53838); 
  text-decoration: none; 
  border: solid var(--main-color-F53838);  
  border-radius: 30px; 
  color:  var(--main-color-ffffff); 
}
.Rounding {
	border-radius: 30px; 
}


/* флексбоксы */

.centered {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

